image: ruby:2.2

before_script:
  - apt-get update
  - apt-get install curl
  - curl -sL https://deb.nodesource.com/setup_8.x | bash
  - apt-get install nodejs
  - node -v
  - npm install -g jest npm@latest
  - npm -v
  - npm i

testall:
  script:
    - npm test
